<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Proyecto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/noticias}">Noticias</a></li>
            <li><a th:href="@{/proyectos}">Proyectos</a></li>
            <li><a th:href="@{/unete-a-nosotros}">Únete a Nosotros</a></li>
        </ul>
    </nav>
</header>

<h1>Crear Nuevo Proyecto</h1>
<form action="/proyectos/nuevo" method="post" enctype="multipart/form-data">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br><br>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea><br><br>

    <label for="link">Link:</label>
    <input type="text" id="link" name="link" required><br><br>

    <label for="file">Imagen:</label>
    <input type="file" id="file" name="file" accept="image/*"><br><br>

    <button type="submit">Guardar</button>
</form>
</body>
</html>