<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Únete a Nosotros</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a th:href="@{/noticias}">Noticias</a></li>
      <li><a th:href="@{/proyectos}">Proyectos</a></li>
      <li><a th:href="@{/unete-a-nosotros}">Únete a Nosotros</a></li>
    </ul>
  </nav>
</header>

<div class="header-container">
  <h1>Registros de "Únete a Nosotros"</h1>
  <a href="/unete-a-nosotros/nuevo" class="new-button">Nuevo Registro</a>
</div>
<table>
  <tr>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Número</th>
  </tr>
  <tr th:each="registro : ${uneteANosotros}">
    <td th:text="${registro.nombre}"></td>
    <td th:text="${registro.correo}"></td>
    <td th:text="${registro.numero}"></td>
  </tr>
</table>
</body>
</html>
